body{
  margin:0;
}

section {
  position: fixed;
  margin-top: 91vh;
}

button{
  position: absolute;
  width: 35%;
  margin-top:10px;
  margin-left:20px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
}